@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
:root{
  --card-dimension: 40em;
  --active-color: rgba(254, 121, 61, 1);
  --main-color: #fff;
  --first-color: black;
  --second-color: #315EFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: var(--main-color);
  padding-top: 8em;
  overflow-x: hidden;
}
video{
  border-radius: 5px;
}
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2em;
}
a{
  color: black;
  text-decoration: none;
}
.navbar{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 30px;
  height: 6em;
  width: 100%;
  background-color: var(--main-color);
  z-index: 3;
  box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 0px 0px 26px 26px;
  a{
    text-decoration: none;
    color: var(--first-color);
    flex-grow: 3;
  }
  ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    li{
      list-style: none;
    }
  }
  
}
.icon{
  width: 28px;
  height: 28px;
  transition: 0.150s ease-in;
  color: black;
}
.icon:hover{
  color: var(--active-color);
}
.filter-bar{
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.categories{
  width: 100%;
  align-self: center;
  display: flex;
  gap: 15px;
  padding: 15px 0 15px 20px;
  overflow-x: scroll;
  .category-button{
    width: auto;
    height: 40px;
    padding: 0px 20px 0 20px;
    border-radius: 10rem;
    border: none;
    background-color: var(--main-color);
    box-shadow: -5px 5px 10px rgba(225, 225, 225, 0.2), 5px -5px 10px rgba(225, 225, 225, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(225, 225, 225, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(225, 225, 225, 0.5);
    transition: 0.2s ease-out;
  }
  .category-button:hover{
    transform: translateY(-7px);
    
  }
  .category-button.active{
    width: auto;
    height: 40px;
    border-radius: 10rem;
    border: none;
    background-color: var(--active-color);
    box-shadow: -5px 5px 10px rgba(229, 109, 55, 0.2), 5px -5px 10px rgba(229, 109, 55, 0.2), 5px 5px 13px rgba(229, 109, 55, 0.9), inset 1px 1px 2px rgba(255, 133, 67, 0.3), inset -1px -1px 2px rgba(229, 109, 55, 0.5);
    color: white;
  }
}
.categories::-webkit-scrollbar{
  width: 10px;
}
.search-bar{
  display: flex;
  align-items: center;
  position: relative;
  input{
    width: 30rem;
    height: 40px;
    border-radius: 25px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: rgba(229, 229, 229,0.3);
    padding-left: 15px;
    font-size: medium;
  }
}
.search-icon{
  display: flex;
  background-color: var(--active-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.cards-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
  img{
    width: 40px;
    height: 40px;
  }
}
.course-card{
  display: flex;
  position: relative;
  width: 40em;
  height: 120px;
  border-radius: 25px;
  align-items: center;
  box-shadow: -5px -7px 20px 1px rgba(0, 0, 0, 0.1);
  gap: 15px;
  padding: 0 30px 0 0;
  transition: 0.250s ease-out;
  button{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .course-card-img{
    width:12em;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(116, 113, 113, 0.336);
    img{
      width: 100%;
      height: auto;
    }
  }
  .course-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    h3{
      font-size: 24px;
    }
    
    .course-card-info-rating{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 25px;
      p{
        font-size: 13px;
      }
    }
 }

}
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  
  h1{
    font-weight: 600;
    margin-bottom: 1.5em;
  }
}
.profile-img-container{
  width: 200px;
  height: 200px;
  border-radius:50%;
  box-shadow: 0px -1px 11px #C2D1E5;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .profile-img{
    width: 120px;
    height: 120px;
    
  }
}
.profile-info{
  text-align: center;
  h2{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }
}
.profile-header{
  display: flex;
  position: relative;
  width: 40em;
  align-items: center;
  justify-content: center;
  .settings{
    position: absolute;
    right: 0;
    top: 5px;
    width: 28px;
    height: 28px;
    color: black;
  }
  .settings:hover{
    animation: settingsHover 3s infinite linear;
    color: var(--active-color);
  }
}
@keyframes settingsHover {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
.user-card{
  display: flex;
  width: 45em;
  height: 120px;
  border-radius: 25px;
  align-items: center;
  gap: 15px;
  padding: 0 30px 0 10px;
  background-color: var(--second-color);
  color: var(--main-color);
  margin-bottom: 6em;
  img{
    height: 90px;
    width: auto;
  }
  .card-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--active-color);
    border: none;
    color: var(--main-color);
    font-weight: 400;
  }
}
.settings-header{
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 40em;
  a{
    position: absolute;
    left: 0;
    top: 0px;
    color: var(--first-color);
    transition: 0.3s ease-out;
  }
  a:hover{
    transform: scale(1.2);
  }
}
.user-settings{
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3em;
    gap: 2.7em;
    label{
      font-weight: 700;
      font-size: 20px;
    }
    input{
      border: none;
      outline: none;
      font-size: medium;
      
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }
  }
  button{
    background-color: #fff;
    border: none;
    margin-top: 4em;
  }
}
.course-page{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 5em;
  flex-wrap: wrap;
  .course-review{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    border-radius: 2em;
    box-shadow: 0px -1px 11px #C2D1E5;
    .course-review-img{
      width: 100%;
      height: 18rem;
      background-color: rgba(73, 73, 73, 0.493);
      border-radius: 2em;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .course-review-info{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 12rem;
      padding: 20px 20px 20px 40px;
      position: relative;
      button{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border: none;
        box-shadow: 0px -1px 11px #C2D1E5;
        position: absolute;
        right: 40px;
        top: -30px;
      }
      h3{
        flex-grow: 3;
        font-size: 28px;
      }
      h5{
        font-size: 18px;
        font-weight: 200;
        flex-grow: 1;
        color: var(--active-color);
      }
      .course-review-info-status{
        display: flex;
        flex-grow: 4;
        
      }
    }
  }
}
.status-block{
  display: flex;
  flex-grow: 1;
  gap: 5px;
  font-size: 15px;
  color: gray;
  align-items: center;
}
.course-lessons{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}
.lessons-cards-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  .lessons-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40rem;
    height: 5em;
    border-radius: 1em;
    box-shadow: 2px 2px 8px #C2D1E5;
    padding: 10px 0 0 4rem;
    .status-block{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    p{
      font-size: 12px;
    }
    h3{
      font-size: 20px;
      font-weight: 600;
    }
    .lesson-id{
      position: absolute;
      top: 0;
      left: 0;
      width: 3em;
      height: 100%;
      border-radius: 1em 0 0 1em;
      background-color: var(--active-color);
      color: white;
      text-align: center;
      padding: 5px 0 0 0;
      
    }
  }
}
.lessons-page{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 90vh;
  .lessons-page-theory{
    width: 40em;
    position: absolute;
    border-radius: 0 1em 1em 0;
    box-shadow: 0px -1px 11px #C2D1E5;
    padding: 50px 30px 30px 30px;
    top: -2em;
    left: 0;
    height: 100%;
  }
  .lessons-page-video{
    width: 60em;
    align-items: center;
    justify-content: center;
  }

}