@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
:root {
  --card-dimension: 40em;
  --active-color: rgba(254, 121, 61, 1);
  --main-color: #fff;
  --first-color: black;
  --second-color: #315EFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--main-color);
  padding-top: 8em;
  overflow-x: hidden;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2em;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 30px;
  height: 6em;
  width: 100%;
  background-color: var(--main-color);
  z-index: 3;
  -webkit-box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
          box-shadow: -5px 5px 10px rgba(230, 230, 230, 0.2), 5px -5px 10px rgba(230, 230, 230, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  border-radius: 0px 0px 26px 26px;
}

.navbar a {
  text-decoration: none;
  color: var(--first-color);
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar ul li {
  list-style: none;
}

.icon {
  width: 28px;
  height: 28px;
  -webkit-transition: 0.150s ease-in;
  transition: 0.150s ease-in;
  color: black;
}

.icon:hover {
  color: var(--active-color);
}

.filter-bar {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.categories {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 15px 0 15px 20px;
  overflow-x: scroll;
}

.categories .category-button {
  width: auto;
  height: 40px;
  padding: 0px 20px 0 20px;
  border-radius: 10rem;
  border: none;
  background-color: var(--main-color);
  -webkit-box-shadow: -5px 5px 10px rgba(225, 225, 225, 0.2), 5px -5px 10px rgba(225, 225, 225, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(225, 225, 225, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(225, 225, 225, 0.5);
          box-shadow: -5px 5px 10px rgba(225, 225, 225, 0.2), 5px -5px 10px rgba(225, 225, 225, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(225, 225, 225, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(225, 225, 225, 0.5);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.categories .category-button:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.categories .category-button.active {
  width: auto;
  height: 40px;
  border-radius: 10rem;
  border: none;
  background-color: var(--active-color);
  -webkit-box-shadow: -5px 5px 10px rgba(229, 109, 55, 0.2), 5px -5px 10px rgba(229, 109, 55, 0.2), 5px 5px 13px rgba(229, 109, 55, 0.9), inset 1px 1px 2px rgba(255, 133, 67, 0.3), inset -1px -1px 2px rgba(229, 109, 55, 0.5);
          box-shadow: -5px 5px 10px rgba(229, 109, 55, 0.2), 5px -5px 10px rgba(229, 109, 55, 0.2), 5px 5px 13px rgba(229, 109, 55, 0.9), inset 1px 1px 2px rgba(255, 133, 67, 0.3), inset -1px -1px 2px rgba(229, 109, 55, 0.5);
  color: white;
}

.categories::-webkit-scrollbar {
  width: 10px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-bar input {
  width: 30rem;
  height: 40px;
  border-radius: 25px;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: rgba(229, 229, 229, 0.3);
  padding-left: 15px;
  font-size: medium;
}

.search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--active-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
}

.cards-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.cards-container img {
  width: 40px;
  height: 40px;
}

.course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40em;
  height: 120px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -5px -7px 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -5px -7px 20px 1px rgba(0, 0, 0, 0.1);
  gap: 15px;
  padding: 0 30px 0 0;
  -webkit-transition: 0.250s ease-out;
  transition: 0.250s ease-out;
}

.course-card button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.course-card .course-card-img {
  width: 12em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(116, 113, 113, 0.336);
}

.course-card .course-card-img img {
  width: 100%;
  height: auto;
}

.course-card .course-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.course-card .course-card-info h3 {
  font-size: 24px;
}

.course-card .course-card-info .course-card-info-rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.course-card .course-card-info .course-card-info-rating p {
  font-size: 13px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.page-container h1 {
  font-weight: 600;
  margin-bottom: 1.5em;
}

.profile-img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px -1px 11px #C2D1E5;
          box-shadow: 0px -1px 11px #C2D1E5;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-img-container .profile-img {
  width: 120px;
  height: 120px;
}

.profile-info {
  text-align: center;
}

.profile-info h2 {
  font-size: 22px;
}

.profile-info p {
  font-size: 16px;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-header .settings {
  position: absolute;
  right: 0;
  top: 5px;
  width: 28px;
  height: 28px;
  color: black;
}

.profile-header .settings:hover {
  -webkit-animation: settingsHover 3s infinite linear;
          animation: settingsHover 3s infinite linear;
  color: var(--active-color);
}

@-webkit-keyframes settingsHover {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes settingsHover {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.user-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45em;
  height: 120px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 0 30px 0 10px;
  background-color: var(--second-color);
  color: var(--main-color);
  margin-bottom: 6em;
}

.user-card img {
  height: 90px;
  width: auto;
}

.user-card .card-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.user-card button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--active-color);
  border: none;
  color: var(--main-color);
  font-weight: 400;
}

.settings-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40em;
}

.settings-header a {
  position: absolute;
  left: 0;
  top: 0px;
  color: var(--first-color);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.settings-header a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.user-settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3em;
  gap: 2.7em;
}

.user-settings form label {
  font-weight: 700;
  font-size: 20px;
}

.user-settings form input {
  border: none;
  outline: none;
  font-size: medium;
}

.user-settings form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.user-settings button {
  background-color: #fff;
  border: none;
  margin-top: 4em;
}

.course-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5em;
}

.course-page .course-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35rem;
  height: 30rem;
  border-radius: 2em;
  -webkit-box-shadow: 0px -1px 11px #C2D1E5;
          box-shadow: 0px -1px 11px #C2D1E5;
}

.course-page .course-review .course-review-img {
  width: 100%;
  height: 18rem;
  background-color: rgba(73, 73, 73, 0.493);
  border-radius: 2em;
  overflow: hidden;
}

.course-page .course-review .course-review-img img {
  width: 100%;
  height: 100%;
}

.course-page .course-review .course-review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 12rem;
  padding: 20px 20px 20px 40px;
  position: relative;
}

.course-page .course-review .course-review-info button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px -1px 11px #C2D1E5;
          box-shadow: 0px -1px 11px #C2D1E5;
  position: absolute;
  right: 40px;
  top: -30px;
}

.course-page .course-review .course-review-info h3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  font-size: 28px;
}

.course-page .course-review .course-review-info h5 {
  font-size: 18px;
  font-weight: 200;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--active-color);
}

.course-page .course-review .course-review-info .course-review-info-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.status-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 5px;
  font-size: 15px;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-lessons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 40%;
}

.lessons-cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.lessons-cards-container .lessons-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 40rem;
  height: 5em;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 8px #C2D1E5;
          box-shadow: 2px 2px 8px #C2D1E5;
  padding: 10px 0 0 4rem;
}

.lessons-cards-container .lessons-card .status-block {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.lessons-cards-container .lessons-card p {
  font-size: 12px;
}

.lessons-cards-container .lessons-card h3 {
  font-size: 20px;
  font-weight: 600;
}

.lessons-cards-container .lessons-card .lesson-id {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 100%;
  border-radius: 1em 0 0 1em;
  background-color: var(--active-color);
  color: white;
  text-align: center;
  padding: 5px 0 0 0;
}
/*# sourceMappingURL=index.css.map */