@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
:root{
  --card-dimension: 40em;
  --active-color: rgba(254, 121, 61, 1);
  --main-color: #fff;
  --first-color: black;
  --second-color: #315EFF;
  
  --fs-12:12px;
  --fs-15:15px;
  --fs-18:18px;
  --fs-22:22px;
  --fs-24:24px;
  --fs-20:20px;
  --fs-28:36px;
  --fs-16:16px;
}
@media (max-width:700px) {
  :root{    
    --fs-12:8px;
    --fs-15:12px;
    --fs-18:15px;
    --fs-22:20px;
    --fs-24:22px;
    --fs-20:18px;
    --fs-28:25px;
    --fs-16:14px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: var(--main-color);
  overflow-x: hidden;
}
video{
  border-radius: 5px;
}
h2{
  font-size: var(--fs-22);
}
h3{
  font-size: var(--fs-22);
}
.bc-img{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("../pictures/1.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2em;
  gap:2em;
  margin-top: 3em;
}
a{
  color: black;
  text-decoration: none;
}
.navbar{
  display: flex;
  position: sticky;
  top: 0;
  margin-bottom: 2em;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 30px;
  height: 6em;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 0px 0px 26px 26px;
  box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.2);
  z-index: 6;
  
  a{
    text-decoration: none;
    color: var(--first-color);
    flex-grow: 3;
  }
  h1{
    font-size: var(--fs-28);
  }
  .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    li{
      list-style: none;
    }
    
  }
  .navbar-burger{
    display: none;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    
    .burger-btn{
      width: 30px;
      height: 5px;
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
      transition: all 0.25s ease-in;
    }
    .burger-btn::after,
    .burger-btn::before{
      transition: all 0.25s ease-in;
      content: " ";
      width: 30px;
      height: 5px;
      background-color: rgb(0, 0, 0);
      position: absolute;
      border-radius: 5px;
    }
    .burger-btn::before{
      transform: translateY(10px);
    }
    .burger-btn::after{
      transform: translateY(-10px);
    }
  }
}
.icon{
  width: 28px;
  height: 28px;
  transition: 0.150s ease-in;
  color: black;
}
.icon:hover{
  color: var(--active-color);
}
.filter-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.auth{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .registration{
    background-color: var(--active-color);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 1em;
    color: #fff;
    font-weight: 600;
    font-size: var(--fs-16);
    transition: 0.150s ease-out;
    text-align: center;
   padding: 2px ;
  }
  .login{
    background-color: #fff;
    border: none;
    font-weight: 600;
    font-size: var(--fs-16);
    transition: 0.150s ease-out;
  }
  .login:hover{
    transform: translateY(-3px);
    border-bottom: 2px solid black;
  }
  .registration:hover{
    transform: translateY(-3px);
    
  }
}
.search-bar{
  width: 30em;
  display: flex;
  align-items: center;
  position: relative;
  input{
    width: 30em;
    height: 40px;
    border-radius: 25px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: #fff;
    padding-left: 15px;
    font-size: var(--fs-16);
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  }
}

.search-icon{
  display: flex;
  background-color: var(--active-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}
.cards-container{
  width: 60%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  margin-top: 50px;
  gap: 6em;
  img{
    width: 100%;

  }
}
.course-card{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 18em;
  height: 18em;
  border-radius: 25px;
  align-items: center;
  box-shadow: -5px -7px 20px 1px rgba(0, 0, 0, 0.1);
  gap: 15px;
  transition: 0.250s ease-out;
  background-color: #fff;
  z-index: 4;
  button{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .course-card-img{
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(116, 113, 113, 0.336);
    box-shadow: 0px 4px 4px #C2D1E5;
    img{
      width: 100%;
      height: auto;
    }
  }
  .course-card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    gap: 10px;
    padding: 0 0 0 10px;
    h3{
      font-size: var(--fs-22);
    }
    #lessons-number{
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: var(--active-color);
    }
 }

}
.course-card:hover{
  transform: translateY(-10px);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.6);
}
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-top: 5em;
  h1{
    font-size: var(--fs-28);
    font-weight: 600;
    margin-bottom: 1.5em;
  }
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-info{
    text-align: center;
    h2{
      font-size: var(--fs-22);
    }
    p{
      font-size: var(--fs-16);
    }
  }
  .profile-img-container{
    width: 200px;
    height: 200px;
    border-radius:50%;
    box-shadow: 0px -1px 11px #C2D1E5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-img{
      width: 120px;
      height: 120px;
      
    }
  }
  .profile-header{
    display: flex;
    position: relative;
    width: 40em;
    align-items: center;
    justify-content: center;
    .settings{
      position: absolute;
      right: 0;
      top: 5px;
      width: 28px;
      height: 28px;
      color: black;
    }
    .settings:hover{
      animation: settingsHover 3s infinite linear;
      color: var(--active-color);
    }
  }
}

.user-courses{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  h2{
    font-size: var(--fs-28);
    font-weight: 400;
    color: var(--active-color);
  }
}


@keyframes settingsHover {
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}
.user-card{
  display: flex;
  width: 45em;
  height: 120px;
  border-radius: 25px;
  align-items: center;
  gap: 15px;
  padding: 0 30px 0 10px;
  background-color: var(--second-color);
  color: var(--main-color);
  margin-bottom: 6em;
  img{
    height: 90px;
    width: auto;
  }
  .card-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--active-color);
    border: none;
    color: var(--main-color);
    font-weight: 400;
  }
}
.settings-header{
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 40em;
  a{
    position: absolute;
    left: 0;
    top: 0px;
    color: var(--first-color);
    transition: 0.3s ease-out;
  }
  a:hover{
    transform: scale(1.2);
  }
}
.user-settings{
  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3em;
    gap: 2.7em;
    label{
      font-weight: 700;
      font-size: var(--fs-20);
    }
    input{
      border: none;
      outline: none;
      font-size: var(--fs-16);
      
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }
  }
  button{
    background-color: #fff;
    border: none;
    margin-top: 4em;
  }
}
.course-page{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 5em;
  flex-wrap: wrap;
  .course-review{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    border-radius: 2em;
    box-shadow: 0px -1px 11px #C2D1E5;
    .course-review-img{
      width: 100%;
      height: 18rem;
      background-color: rgba(73, 73, 73, 0.493);
      border-radius: 2em;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .course-review-info{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 12rem;
      padding: 20px 20px 20px 40px;
      position: relative;
      button{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border: none;
        box-shadow: 0px -1px 11px #C2D1E5;
        position: absolute;
        right: 40px;
        top: -30px;
      }
      h3{
        flex-grow: 3;
        font-size: var(--fs-24);
      }
      h5{
        font-size: var(--fs-16);
        font-weight: 200;
        flex-grow: 1;
        color: var(--active-color);
      }
      .course-review-info-status{
        display: flex;
        flex-grow: 4;
        
      }
    }
  }
}
.status-block{
  display: flex;
  flex-grow: 1;
  gap: 5px;
  font-size: var(--fs-15);
  color: gray;
  align-items: center;
}
.course-lessons{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}
.lessons-cards-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  .lessons-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40rem;
    height: 5em;
    border-radius: 1em;
    box-shadow: 2px 2px 8px #C2D1E5;
    padding: 10px 0 0 4rem;
    transition: 0.2s ease-out;
    .status-block{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    p{
      font-size: var(--fs-12);
    }
    h3{
      font-size: var(--fs-20);
      font-weight: 600;
    }
    .lesson-id{
      position: absolute;
      top: 0;
      left: 0;
      width: 3em;
      height: 100%;
      border-radius: 1em 0 0 1em;
      background-color: var(--active-color);
      color: white;
      text-align: center;
      padding: 5px 0 0 0;
      
    }
  }
}
.lessons-card:hover{
  transform: translatey(-7px);
  transform: scale(1.05);
  box-shadow: 0px 6px 11px #808c9c;
}
.lessons-page{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10em;
  flex-wrap: wrap;
  gap: 30px;
  .lessons-page-theory{
    display: flex;
    border-radius: 1em;
    border: 1px solid var(--active-color);
    padding: 50px 30px 30px 30px;
    width: 30em;
    min-height: 30em;
    justify-content: center;
  }
  .lessons-page-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 30px;   
    gap: 15px;
    button{
      width: 150px;
      background-color: var(--active-color);
      border: none;
      border-radius: 1em;
      height: 40px;
      color: #fff;
      box-shadow: 1px 1px 5px #C2D1E5;
      transition: 0.1s ease-in;
    }
    button:hover{
      transform: scale(1.060);
    }
    .buttons{
      display: flex;
      gap: 20px;
    }
  }
}

.css-b62m3t-container{
  width: 20em;
  height: 40px;
  z-index: 5;
  font-size: var(--fs-18);
  .css-1s2u09g-control{
    border-radius: 1em;
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, 0.3);
  }
  
}
.auth-container{
  width: 30em;
  height: 35em;
  background-color: rgba(254, 122, 61, 1);
  margin-top: 5em;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  padding: 30px;
  h1{
    font-size: var(--fs-28);
  }
  .field{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
    label{
      font-size: var(--fs-18);
    }
    input{
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid white;
      outline:none;
      color: #fff;
      padding-left: 10px;
      font-size: var(--fs-16);
    }
  }
}


@media (max-width:570px) {
  .search-bar{
    width: 15em;
  }
  .search-icon{
    right: -15px;
  }
  .css-b62m3t-container{
    width: 12em;
  }
  .cards-container{
    gap: 30px;
    margin: 2em;
    .course-card{
      width: 18em;
      height: 15em;
    }
  }
  
  
}
@media (max-width:1100px) {
  .course-page{
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
   .course-review{
     width: 22em;
     height: 22em;
   } 
   .course-lessons{
     width: 90%;
     flex-direction: column;
     
    
     .lessons-card{
       width: 100%;
     }
   }
  }
  .lessons-page{
    margin: 0;
    .lessons-page-video{
      width: 100%;
      div{
        width: 100%;
        video{
          width: 100%;
        }
      }
      .buttons{
        align-items: center;
        justify-content: center;
        button{
          width: 100px;
          height: 30px;
        }
      }
    }
    .lessons-page-theory{
      width: 80%;
      height: auto;
      min-height: none;
      padding: 10px;
      font-size: 10px;
    }
  }

}
@media (max-width:700px) {
  .profile{
    width: 100%;
    .profile-header{
      width: 80%;
    }
    .profile-img-container{
      width: 150px;
      height: 150px;
     .profile-img{
        width: 100px;
        height: 100px;
      }
    }
  }
  .page-container{
    width: 100%;
  }
  .navbar{
    .links{
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 10em;
      height: 25em;
      background-color: rgb(255, 255, 255);
      border-radius: 0 0 0 1em;
      z-index: 10;
      align-items: center;
      justify-content: flex-end;
      gap: 50px;
      padding-bottom: 50px;
      transform: translateX(100%);
      transition: all 0.25s ease-in;
    }
    .navbar-burger{
      display: flex;
      z-index: 13;
      
    }
    .active{
      transform: translateX(0px);
    }
    .open{
      .burger-btn{
        transform: translateX(-20px);
        background-color: transparent;
        box-shadow: none;
        transition: all 0.25s ease-in;
      }
      .burger-btn::before{
        transform: rotate(45deg);
        
      }
      .burger-btn::after{
        transform: rotate(-45deg);
        
      }
    }
  }
  .auth{
    flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      width: 10em;
      height: 18em;
      background-color: rgb(255, 255, 255);
      border-radius: 0 0 0 1em;
      z-index: 10;
      align-items: center;
      justify-content: flex-end;
      gap: 50px;
      transform: translateX(100%);
      padding-bottom: 50px;
      
      transition: all 0.25s ease-in;
  }
  
}